
{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    {% block conteudo %}
    <p>Conteudo Index</p>
    {% if not user.is_authenticated %}
    <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    {% if user.is_authenticated %}
    <p><a href="{% url 'perfil' %}">Perfil</a></p>
    {% endif %}
    {% endblock %}
    
    
</body>
</html>